.infoContainer {
  display: flex;
  flex-direction: row;
}
.coverPicture {
  margin-right: 20px;
  margin-bottom: 20px;
}
.mangaDescription {
  border: #f2321f 2px solid;
  margin-bottom: 10px;
  background-color: wheat;
}
