<nav class="d-flex flex-wrap navbar nav-bar fixed-top">
  <img src="#" alt="tytoLoga" class="nav-bar-logo" />
  <div class="d-flex align-items-center justify-content-between">
    <div class="nav-bar-item" routerLink="">
      <span class="nav-bar-header">Home</span>
    </div>
    <div class="nav-bar-item" routerLink="#">
      <span class="nav-bar-header">Search</span>
    </div>
    <div class="nav-bar-item" routerLink="random">
      <span class="nav-bar-header">Random</span>
    </div>
  </div>
  <div>
    <a class="btn btn-outline-secondary nav-bar-button">
      <span class="nav-bar-button-header"> Sign up </span>
    </a>
    <a class="btn btn-outline-secondary nav-bar-button">
      <span class="nav-bar-button-header"> Login </span></a
    >
  </div>
</nav>
